
<img class="bounce-in-top egg" src="../../assets/common/images/step-{{this.num}}.png" alt="oeuf">
<img class="bounce-in-top yoshi" src="../../assets/common/images/dancingYoshi.gif" [hidden]="eggster" alt="yoshi">
<div class="start">
<button class="bounce-in-top " class="vibrate-1 btn btn-success" routerLink="quete{{this.num}}" [hidden]="btnStart">Start the quest</button>
</div>
<button class="bounce-in-top" class="vibrate-1 return btn btn-success" routerLink="" (click)="addLegend()" [hidden]="eggster"> Game completed. Add yoshi's egg and return to title menu</button>
