@import url("https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300,700");

h5 {
  margin: 0;
  font-weight: 400;
}

.card {
  display: inline-block;
  width: 300px;
  padding: 1em;
  border-radius: 15px;
  margin: 10px;
  background: #ddd;
  text-align: left;
  box-shadow: 0px 5px 20px -10px #111111;
  position: relative;
  transition: 0.4s;
}

.card:nth-child(1) {
  -webkit-transform: translateY(0px) rotate(2deg);
          transform: translateY(0px) rotate(2deg);
}

.card:hover {
  z-index: 5;
  box-shadow: 0px 13px 30px -15px #000000;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

#button {
  position: relative;
  width: 190px;
  height: 190px;
  border-radius: 50%;
  background-color: white;
  transition: background-color 100ms linear, height 70ms ease-in, width 70ms ease-in;
  cursor: pointer;
}
#button::before, #button::after {
  content: "";
  display: block;
  width: 170px;
  height: 170px;
  position: absolute;
  top: 23.75px;
  background-color: inherit;
  border-radius: inherit;
}
#button::before {
  left: -100%;
  margin-left: calc( ( 190px / 2)   );
}
#button::after {
  right: -100%;
  margin-right: calc( ( 190px / 2)   );
}
#button:active {
  background-color: #ECE9E6;
}
#button span {
  position: absolute;
  z-index: 3;
  width: 200%;
  left: -50%;
  text-align: center;
  top: 50%;
  margin-top: -0.5em;
  font-size: 30px;
  color: rgb(135, 149, 179);
}

