<div class="mt-5 d-flex justify-content-around">

<a routerLink="/profile/:id"><div id="button">
    <span>Go back to my quest</span>
  </div></a>

<a routerLink="../myeggs"><div id="button">
    <span>My eggs</span>
  </div></a>
</div>

<div class="row">
<div *ngFor="let egg of eggsList">
<div class="card ml-5 mt-5 ml-1" style="width: 18rem; height:20rem" [ngStyle]="{'background-color': egg.color}">
    <img class="card-img col" src="{{egg.image}}" alt="Card image">
    <div class="card-img-overlay">
    <h2 class="card-title rounded text-center">{{egg.name}}</h2>
    <h5 class="card-text rounded text-center">Power</h5><br>
    <p class="card-text rounded">{{egg.power}} </p>
  </div>
    <div class="d-flex justify-content-center">
    <button routerLink="../{{ egg.id }}" class="bg-secondary text-white rounded">Details</button>
  </div>
  
</div>
</div>
</div> 

