<div class="row">
<div *ngFor="let egg of myEggs">
    <div class="card m-4" style="max-width: 18em; height: 38rem" [ngStyle]="{'background-color': egg.color}">
        <img class="card-img-top" src="{{egg.image}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{egg.name}}</h5>
          <p class="card-text">Rarity: {{egg.rarity}}</p>
          <p class="card-text">Caliber: {{egg.caliber}}</p>
          <p class="card-text">Power: {{egg.power}}</p>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="myEggs.length===0">
    <div class="d-flex justify-content-center">
      <div class="row mt-5">
<h1>You have no egg !</h1>
  </div>
</div>
</div>