


img {
  max-height: 300px;
  min-height: 300px;
  margin: auto;
  display: inline-block;
}
h1, h2, h3, h4, h5 {
  margin: 0;
  font-weight: 400;
}


.card {
  display: inline-block;
  justify-content: center;
  width: 400px;
  padding: 1em;
  border-radius: 15px;  
  margin: 25px;
  background: #ddd;
  text-align: center;
  margin-left:50px;
  margin-right:50px;
  
}

