<h1 class="text-center">Charade de Pâques</h1>
<div class="container">
  <form [formGroup]="myForm"  class="col-6 mx-auto">

      <div class="form-group">
        <label>Mon premier est le roi de la basse-cour.
          Mon deuxième est moche.
          Mon tout ressemble à mon premier, en plus petit.</label>
          <div class="espace"></div>
        <input formControlName="reponse" class="form-control" type="text" />
      </div>
      <p *ngIf="myForm.get('reponse').hasError('Chocolat')" 
      class="label label-danger">Essaye encore</p>
 
      <div class="espace"></div>
  <img class="wobble-hor-bottom"src="http://prettypoun.p.r.pic.centerblog.net/b36ba9ca.png"[hidden]="hide" routerLink="../" (click)="quete1Finish()"width="20%">
  </form>
</div>